# Application
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/supplier_master

# AWS / Bedrock
AWS_REGION=us-east-2


BEDROCK_MODEL_ID=
BEDROCK_TEMPERATURE=0.0
BEDROCK_MAX_TOKENS=1000

OPENSEARCH_ENDPOINT=https://gt0dn4qasscpdxfaxxu6.aoss.us-east-2.on.aws
OPENSEARCH_INDEX_NAME=supplier-policies
OPENSEARCH_SERVICE=aoss

EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
EMBEDDING_DIMENSIONS=1024
